#search-city-container
{
    width: 100%;
}

#search-city
{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#input
{
    background-color: #47505c;
}

#button
{
    background-color: #ff4081;
}